<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="DerDieDasAICore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="DerDieDasAICore.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<DerDieDasAICore.Properties.Settings>
			<setting name="ChatGPTKey" serializeAs="String">
				<value />
			</setting>
			<setting name="RootDirectory" serializeAs="String">
				<value>C:\Temp\DerDieDas</value>
			</setting>
		</DerDieDasAICore.Properties.Settings>
	</userSettings>
</configuration>